@import '../../styles/variables.css';

html {
  font-size: 100%;
  height: 100vh;
}

.page {
  font-size: var(--baseFontSize);
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
}

.page a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pad-top-10px {
  padding-top: 10px;
}
