@import '../../styles/variables.css';

html {
  font-size: 100%;
  height: 100vh;
}

.page {
  background-color: var(--backgroundColor);
  color: var(--white);
  font-size: var(--baseFontSize);
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}
